= render partial: 'cell', locals: { cls: 'border-left', forecast: surfline, value: height_range(surfline.try(:min_height), surfline.try(:max_height)) }
= render partial: 'cell', locals: { forecast: surfline, value: surfline.try(:display_swell_rating) }
= render partial: 'cell', locals: { forecast: surfline, value: surfline.try(:optimal_wind) }
