= render partial: 'cell', locals: { cls: 'border-left', forecast: forecast, value: height_range(forecast.try(:min_height), forecast.try(:max_height)) }
= render partial: 'cell', locals: { forecast: forecast, value: forecast.try(:swell_rating) }
= render partial: 'cell', locals: { forecast: forecast, value: forecast.try(:wind_rating) }
