- @forecasts.each do |data, forecast|
  h4.margin-left.spot-header= raw "#{data[:name]} #{map_link(data[:lat], data[:lon])}"
  =column_chart [\
      { name: 'Max', data: forecast.collect {|point| [point[:time], point[:max_delta]]}, stack: 'All' },
      { name: 'Avg', type: 'line', data: forecast.collect {|point| [point[:time], point[:avg_delta]]}, stack: 'All'},
      { name: 'Min', data: forecast.collect {|point| [point[:time], point[:min]]}, stack: 'All' },
    ], 
    max: @max,
    stacked: true,
    colors: [\
      'LightSkyBlue',
      'DodgerBlue',
      'RoyalBlue',
    ],
    library: {\
      plotOptions: {\
        column: {\
          borderWidth: 0,
          groupPadding: 0.07,
          dataLabels: {\
            enabled: false,
          }\
        }\
      },
      tooltip: {\
        enabled: false,
      },
      yAxis: {\
        stackLabels: {\
          enabled: true,
        }\
      }\
    }
