@import "bootstrap";
@import "partials/github_corner";

.forecast-icon-label {
  margin-left: 10px;
  vertical-align: middle;
  color: $gray;
}

#forecast-table {
  th {
    border-bottom: 0;
  }

  th, td {
    text-align: center;
  }
}

.border-left {
  border-left: 1px solid #ccc !important;
}

.margin-left {
  margin-left: 10px;
}

.spot-header {
  img {
    height: 18px;
    vertical-align: baseline;
  }
}
