$enable-gradients: true;
@import "bootstrap";
@import "partials/animation";

@mixin padding-safe($direction) {
  padding-#{$direction}: env(safe-area-inset-#{$direction})
}

nav {
  $nav-opacity: 0.5;
  $nav-begin-color: rgba(38, 143, 255, $nav-opacity);
  $nav-end-color: rgba(0, 123, 255, $nav-opacity);
  background: $nav-end-color linear-gradient(180deg, $nav-begin-color, $nav-end-color) repeat-x;

  .region-label {
    padding-left: 10px;
    // Hack to avoid using sass max function and instead pass max through to css
    padding-left: m#{a}x(10px, env(safe-area-inset-left));
  }
}

#forecast-table {
  th {
    padding-bottom: 0;
    border-bottom: 0;
    vertical-align: baseline;

    a {
      text-decoration: none;
    }

    img {
      height: 30px;
      vertical-align: text-bottom;
    }
  }

  th, td {
    text-align: center;
  }
}

.font-weight-light {
  select {
    font-weight: inherit;
  }
}

.forecast-icon-label {
  margin-left: 10px;
  color: $headings-color;
  font-size: 28px;
  font-weight: normal;
}

.border-left {
  border-left: 1px solid #ccc !important;
}

.margin-left {
  margin-left: 10px;
}

.subregion-container {
  margin-top: 44px;
}

.safe-padding {
  @include padding-safe(left);
  @include padding-safe(right);
}

.spot-header {
  $opacity: 0.65;
  padding-left: 5px;

  &:first-child {
    margin-top: 5px
  }

  span {
    color: black;
  }

  a {
    opacity: $opacity;
    color: inherit;

    &:hover {
      opacity: 1;
      text-decoration: none;
    }
  }

  .icon {
    margin-left: 18px;
  }

  img {
    height: 26px;
    vertical-align: baseline;
  }
}
