- provide(:title, "#{@region.name} Buoys")
- provide(:meta, ', viewport-fit=cover')

.safe-padding
  - @buoy_reports.each do |meta, reports|
    h2.font-weight-light.spot-header id=meta[:slug]
      span= "#{meta[:name]} (#{meta[:ndbc_id]})"
    - to = reports.find_index { |p| p[:timestamp].hour == 0 }
    - to && reports.dig(to + 1, :timestamp)&.hour == 0 && to += 1
    = react_component 'BuoyChart', {\
        data: [\
          { name: 'Swell waves', data: reports.collect { |point| { y: point[:swell_wave_height], swell: point[:ground_swell_height], period: point[:ground_swell_period], direction: point[:ground_swell_direction], tooltip_time: point[:tooltip_time] } }, marker: { symbol: 'diamond' ,} },
          { name: 'Wind waves', data: reports.collect { |point| { y: point[:wind_wave_height], swell: point[:wind_swell_height], period: point[:wind_swell_period], direction: point[:wind_swell_direction] } } },
        ],
        max: @max,
        plotBands: to && [{\
          from: -0.5,
          to: to + 0.5,
        }],
        xLabels: reports.collect { |point| point[:xaxis_time] }\
      }
